<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">

</head>

<body class="main">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-transparant">
        <a class="navbar-brand navbartext" href="main.html">Rabbit Hole</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbartext" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link navbartext" href="main.html">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/likes" id="likesPage">Likes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/login" id="logout">Logout</a>
                    </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron main">
            <div class="container"></div>
            <div class="row mainimg">
                <div class="col-lg-12">
                    <img src="/assets/Brush Script Facebook Cover.png">
                </div>
            </div>
            <p class="lead bodytext">Explanation of Rabbit Hole Here</p>
            <hr class="my-4 bodytext">
            <p class="bodytext">To get started, select either artist or track title</p>
            <div class="InputAddOn">
                <span class="InputAddOn-item">
                    <select class="custom-select select-shape mr-sm-2" id="inlineFormCustomSelect">
                        <option value="1" id="selectArtist">Artist</i></option>
                        <option value="2" id="selectTrack">Track</option>
                    </select>
                </span>
                <p class="bodytext">Then search for any artist or a track title</p>
                <div class="">
                    <input type="text" class="form-control" id="searchInput" placeholder="enter artist or track"
                        aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>
            <a class="btn btn-secondary btn-lg bodytext" href="#" id="mainSearch" role="button"
                style="margin-top: 20px;">go!</a>
        </div>
    </div>

    <!-- Dynamically populate results  -->
    <div class="container">
        <div class="card text-center" id="resultsMain">
            <div class="card-header">
                Results
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
               <!--Music Results--> 
                <h5 class="card-title" style="text-align: center;"></h5>
                <div class="card text-center" id="topFive" style="width: 24rem;">
                    <ul class="list-group list-group-flush" id="searchedResults">

                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <!--Music Results--> 
                <h5 class="card-title" style="text-align: center;"></h5>
                <div class="card text-center" id="relatedArtists" style="width: 24rem;">
                    <ul class="list-group list-group-flush" id="artistNames">
                    </ul>
                </div>
            </div>
        </div>
            
                <!-- Book Results -->
                <!-- <ul class="list-unstyled" id="bookResults">
                    <li class="media">
                        <img src="..." class="mr-3" alt="..." id="bookImg">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1" id="bookTitle">List-based media object</h5>
                            <p id="bookAuthor">Author</p> -->
                            <!-- Button trigger modal -->
                            <!-- <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#exampleModal">
                                book preview
                            </button>
                            <-- Modal -->
                            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="bookTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="bookResults">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="likeBook">Save to
                                                Likes</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div>
                        <a href="#" class="badge badge-info" id="likeBook">like</a>
                    </li>
                    <li class="media">
                        <img src="..." class="mr-3" alt="..." id="bookImg">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1" id="bookTitle">List-based media object</h5>
                            <p id="bookAuthor">Author</p>
                            <!- Button trigger modal -->
                            <!-- <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#exampleModal">
                                book preview
                            </button>
                            <!-Modal -->
                            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="bookTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="bookResults">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="likeBook">Save to
                                                Likes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="badge badge-info" id="likeBook">like</a>
                    </li>
                </ul>
            </div> --> 
        <div class="row">
            <div class="col-lg-12">
                <!-- BOOKS -->
                <div style="margin-top: 20px;">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title" id="books-header"></h5>
                            <p class="card-text" id="books-p"></p>
                            <ul class="list-group" id="relatedBooklist">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>