        <div class="container">
            <div class="jumbotron" style="text-align: center;">
                <div class="container"></div>
                <h1 class="display-4">Rabbit Hole</h1>
                <p class="lead">Explanation of Rabbit Hole Here</p>
                <hr class="my-4">
                <p>To get started, select either artist or track title</p>
                <div class="InputAddOn">
                    <span class="InputAddOn-item">
                        <select class="custom-select select-shape mr-sm-2" id="inlineFormCustomSelect">
                            <option value="1" id="selectArtist">Artist</i></option>
                            <option value="2" id="selectTrack">Track</option>
                        </select>
                    </span>
                    <p>Then search for any artist or a track title</p>
                    <div class="">
                        <input type="text" class="form-control" id="searchInput" placeholder="enter artist or track"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <a class="btn btn-primary btn-lg" href="#" id="mainSearch" role="button"
                    style="margin-top: 20px;">go!</a>
            </div>
        </div>
    