<!-- main body -->

<body class="main">
  <div class="container jumb">
    <div class="jumbotron" style="text-align: center;">
      <div class="container"></div>
      <h1 class="display-4">Melissa's Likes</h1>
      <!-- Dynamically Enter User Name -->
    </div>
  </div>
  </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Artists</h1>
      <ul class="list-group list-group-flush" id="likelist-Artist">
        <li class="list-group-item">
          <a href="#" class="card-link">Celia Cruz</a>
          <a href="#" class="badge badge-info" id="deleteArtist">remove</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Tracks</h1>
      <ul class="list-group list-group-flush" id="likelist-Tracks">
        <li class="list-group-item">
          <a href="#" class="card-link">La Vida es un Carnaval</a>
          <a href="#" class="badge badge-info" id="deleteTrack">remove</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Books</h1>
      <ul class="list-group list-group-flush" id="likelist-Books">
        <li class="list-group-item">
          <a href="#" class="card-link">Celia: My Life</a>
          <a href="#" class="badge badge-info" id="deleteBook">remove</a>
        </li>
      </ul>
    </div>
  </div>
</body>