<!-- main body -->

<body class="main">
  <div class="container jumb">
    <div class="jumbotron" style="text-align: center;">
      <div class="container"></div>
      <h1 class="display-4">My Likes</h1>
      <!-- Dynamically Enter User Name -->
    </div>
  </div>
  </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Artists</h1>
      <ul class="list-group list-group-flush" id="likelist-Artist">
      </ul>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Tracks</h1>
      <ul class="list-group list-group-flush" id="likelist-Tracks">
      </ul>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liked Books</h1>
      <ul class="list-group list-group-flush" id="likelist-Books">
      </ul>
    </div>
  </div>
</body>