.main {
  margin: 0px;
  padding: 0px;
  background-color: #35363a;
  text-align: center;
}

#navbarDropdown {
    color: thistle;
}

.likesjumb {
    background-color: white;
    text-align: center;
}

.navbartext {
    color: thistle;
}

.mainimg {
  text-align: center;
}

.bodytext {
  color: thistle;
}

#mainSearch {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login {
  color: white;
}

.badge-info {
  margin-left: 3px;
}
.badge-warning, .badge-success {
  margin-left: 5px;
}